body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    margin: 3em 0 1em;
}

/* login and sign up form styling */
.form-container {
    margin: 0 auto;
    padding: 2em;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    width: 50%;
    max-width: 600px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
    width: 60%;
}

.form-container form input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.3em 0.2em 0.3em 0.3em;
}

.form-container form button {
    padding: 0.5em;
    background-color: #ff6fa5;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container form button:hover {
    background-color: #e85c91;
}

.form-container p {
    font-size: 0.9em;
    margin-top: 2em;
}

/* funfacts.html styling */

.funfacts-background {
    background-color: #f7d7e4;
}

.funfacts-container {
    margin: 0 auto;
    padding: 1em 2em;
    border: 1px solid #ddd;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    width: 50%;
    max-width: 600px;
    background-color: #fff;
}

.funfacts-container ul li {
    margin: 1em 0;
    line-height: 1.4;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn-wrapper button {
    font-size: 1em;
    padding: 0.6em 1.5em;
    background-color: #ff6fa5;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 1em 0 1.5em;
}

.btn-wrapper button:hover {
    background-color: #e85c91;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.8em;
    }

    .form-container,
    .funfacts-container {
        width: 80%;
    }
}